@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply border rounded-md px-3 py-2 duration-75 hover:bg-slate-100 hover:text-background;
}

.swiper-wrapper {
  margin-bottom: 4rem;
}

.box-width {
  @apply xl:max-w-[1280px] w-full mx-auto
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-2 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base flex-1 md:flex-initial md:min-w-[170px];
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}